
<div class="container mt-4">
  <ol class="breadcrumb border border-white">
    <li class="breadcrumb-item"><a routerLink="/admindash"><i class="mdi mdi-home"></i></a>
    </li>
    <li class="breadcrumb-item">Admins Management</li>
  </ol>
  <ng-container *ngIf="admins | async as listEmployees; else failure">
    <div class="card border-white">
      <div class="card-header bg-transparent mt-2">
        <div class="d-flex justify-content-between" *ngIf="searchFormGroup">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="mdi mdi-account-plus"></i>
          </button>
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchAdmins()" class="w-25">
            <div class="input-group">
              <input type="text" formControlName="keyword" class="form-control" placeholder="Insert keyword">
              <button class="btn btn-primary"><i class="mdi mdi-magnify"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Full Name</th>
              <th>UserName</th>
              <th>Email</th>
              <th>Details</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of admins|async">
              <td>{{a.id}}</td>
              <td>{{a.fullName}}</td>
              <td>{{a.userName}}</td>
              <td>{{a.email}}</td>
              <td>
                <button class="btn btn-primary">
                  <i class="mdi mdi-open-in-new"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="handleEditAdmin(a)">
                  <i class="mdi mdi-account-edit"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-danger" (click)="handleDeleteAdmin(a)">
                  <i class="mdi mdi-account-minus"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failure>
    <div class="text-danger">{{errorMessage}}</div></ng-template>
</div>

<!--Add Admin pop up form-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Admin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="newAdminFormGroup" >
          <div class="form-group">
            <label for="exampleInputUsername1">Full name</label>
            <input type="text" class="form-control" formControlName="fullName"  placeholder="Full name" />
            <span class="text-danger"
              *ngIf="newAdminFormGroup.controls['fullName'].touched
              && newAdminFormGroup.controls['fullName'].errors
              && newAdminFormGroup.controls['fullName'].errors!['required']"
            >* Full Name is Required</span>
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input type="text" class="form-control" formControlName="userName" placeholder="Username" />
            <span class="text-danger"
              *ngIf="newAdminFormGroup.controls['userName'].touched
              && newAdminFormGroup.controls['userName'].errors
              && newAdminFormGroup.controls['userName'].errors!['required']"
            >* UserName is Required</span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email" />
            <span class="text-danger"
              *ngIf="newAdminFormGroup.controls['email'].touched
              && newAdminFormGroup.controls['email'].errors
              && newAdminFormGroup.controls['email'].errors!['required']"
            >* Email is not Valid</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addAdmin()">Add</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!--Edit Admin pop up form-->

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Admin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="newAdminFormGroup" >
          <div class="form-group">
            <input type="hidden" class="form-control" formControlName="id"  placeholder="ID" />
            <span class="text-danger"
              *ngIf="newAdminFormGroup.controls['id'].touched
              && newAdminFormGroup.controls['id'].errors
              && newAdminFormGroup.controls['id'].errors!['required']"
            >* ID is Required</span>
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">Full name</label>
            <input type="text" class="form-control" formControlName="fullName"  placeholder="Full name" />
            <span class="text-danger"
              *ngIf="newAdminFormGroup.controls['fullName'].touched
              && newAdminFormGroup.controls['fullName'].errors
              && newAdminFormGroup.controls['fullName'].errors!['required']"
            >* Full Name is Required</span>
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input type="text" class="form-control" formControlName="userName" placeholder="Username" />
            <span class="text-danger"
              *ngIf="newAdminFormGroup.controls['userName'].touched
              && newAdminFormGroup.controls['userName'].errors
              && newAdminFormGroup.controls['userName'].errors!['required']"
            >* UserName is Required</span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email" />
            <span class="text-danger"
              *ngIf="newAdminFormGroup.controls['email'].touched
              && newAdminFormGroup.controls['email'].errors
              && newAdminFormGroup.controls['email'].errors!['required']"
            >* Email is not Valid</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateAdmin()">Edit</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

